*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sidebar {
    grid-column: span 1;
}

.main {
    grid-column: span 3;
}